Exercise 4-6

#01 Importing Libraries and Datasets

In [1]:
#01.1 importing librares
import pandas as pd
import numpy as np
import os

In [7]:
#01.2 create path to project folder
path=r'C:\Users\jonba\OneDrive\Desktop\CareerFoundry\Assessment 4\2024-08-Instacart Basket Analysis'

In [11]:
#01.3 import df_ords_prior
df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))

In [15]:
#01.4 confirm import df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [36]:
#01.5 import most up to date orders df
df_orders=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [37]:
#01.6 check import of df_orders
df_orders.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [38]:
#check shape of both dataframes
df_ords_prior.shape

(32434489, 4)

In [42]:
df_orders.shape

(3421083, 7)

02 Create merged dataset

In [44]:
#02.1 inner join ords and ords_prior
df_merged_large=df_orders.merge(df_ords_prior, on = 'order_id', indicator = True)

In [46]:
#02.2 check merged dataframe
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [48]:
#02.3 check _merge column
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

#03 Export merged file as a pickle

In [50]:
#03.1 export file
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))